body {
    background: black;
}

.zoom {
    width: 1296px;
    margin: 50px;
}
.zoom li {
    width: 432px;
    height: 216px;
    float: left;
    position: relative;
    overflow: hidden;
}

.zoom li.large{
    height: 432px;
}

.zoom li .img{
    width: 432px;

}
.zoom li .title {
    position: absolute;
}
.zoom li:nth-child(1) .title {
     left:23px;
     top:3px;
 }
.zoom li:nth-child(2) .title {
    left:13px;
    top:104px;
}
.zoom li:nth-child(4) .title {
    left:12px;
    top:79px;
}
.zoom li:nth-child(5) .title {
    left:25px;
    top:28px;
}
.zoom li:nth-child(6) .title {
    left:51px;
    top:24px;
}
.zoom li:nth-child(7) .title {
    left:29px;
    top:26px;
}

